<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Panacea.Core" version="10.2.0" targetFramework="net462" />
  <package id="Panacea.Modularity" version="0.0.2" targetFramework="net462" />
  <package id="Panacea.Modularity.UiManager" version="12.0.2" targetFramework="net462" />
  <package id="Panacea.Modularity.UserAccount" version="1.2.2" targetFramework="net462" />
  <package id="Panacea.Modularity.WebBrowsing" version="3.0.0" targetFramework="net462" />
  <package id="Panacea.Mvvm" version="0.0.1" targetFramework="net462" />
</packages>